@model ModelsPostGet.Models.Pessoa
@{
    ViewBag.Title = "Home Page";
}
<h2>Clientes</h2>
<div>
    <p>@Html.LabelFor(x=> x.Nome) @Model.Nome</p>
    <p>@Html.LabelFor(x=> x.Instagram): @Model.Instagram</p>
</div>

@Html.ActionLink("Registrar cliente", "Register", "Home")